<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/icon.png"/>
        <span id="welcomeHeader">WELCOME TO LECTRON</span>
        <span id="welcomeDescription">Our mission is to recreate the virtual universe imagined by Viet York in his 20+ years of immersing himself in the online virtual space. Through the collaborative effort of thousands of community members, we have sought to create Lectron as a fun and relaxing online community. The world we are creating is yours to explore. Journey from spawn to the wilderness, and if you aren’t afraid, beyond the nether and the end world themselves.
            <hr style="height:5px; border-width: 0px;">
            Featuring fly ability, hangout warps, vibrant economy, pets, and plenty more... Lectron brings a new online experience never seen before.</span>
        <br>
        <span id="welcomeDescCTA">You are just a few clicks away from the Lectron universe!</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>